{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "jasmine": true
  },
  "globals": {
    "console": true,
    "module": true
  },
  "plugins": ["prettier"],
  "rules": {
  }
}
